.chess-header {
  color: #fff;
  padding: 5px 15px 0px 0px;
  position: relative;
  text-align: center;
}
.chess-container {
  width: 890px;
  height: 905px;
  position: relative;
  display: block;
  margin: auto;
  background-color: #47565A;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}
.board-container{
  position: relative;
}
.row {
  height: 102.5px;
  margin-left: 3.7%;
  position: relative;
}

.column {
  border: 2px solid rgba(65, 86, 85, 0.1);
  width: 102.5px;
  height: 102.5px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}
.pawn {
  margin-top: 18.5%;
  margin-left: 13%;
  position: absolute;
}
.king {
  margin-top: 18.5%;
  margin-left: 13%;
  position: absolute;
}
.queen {
  margin-top: 18.5%;
  margin-left: 13%;
  position: absolute;
}
.rook {
  margin-top: 18.5%;
  margin-left: 13%;
  position: absolute;
}
.bishop {
  margin-top: 18.5%;
  margin-left: 13%;
  position: absolute;
}
.knight {
  margin-top: 18.5%;
  margin-left: 13%;
  position: absolute;
}
.wpawn {
  margin-top: 18.5%;
  margin-left: 13%;
  position: absolute;
}
.wking {
  margin-top: 18.5%;
  margin-left: 13%;
  position: absolute;
}
.wqueen {
  margin-top: 18.5%;
  margin-left: 13%;
  position: absolute;
}
.wrook {
  margin-top: 18.5%;
  margin-left: 13%;
  position: absolute;
}
.wbishop {
  margin-top: 18.5%;
  margin-left: 13%;
  position: absolute;
}
.wknight {
  margin-top: 18.5%;
  margin-left: 13%;
  position: absolute;
}
.column:nth-child(odd):hover {
  background-color: #c7c54d !important;
  opacity: .85;
}
.column:nth-child(even):hover {
  background-color: #c7c54d !important;
  opacity: .85;
}
