@import '../node_modules/dragula/dist/dragula.css';
* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
  background-color: #bdbdbd;
}

@media screen and (max-width: 730px) {

  .github-banner{
    display: none;
  }

}
